body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #91C788;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}
.container{
	background-color: #DDFFBC;
	width:522px;
	height: auto;
	margin: 130px auto;
	border-radius: 4px;
}

.base{
	width: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
}
.block{
	display: inline-block;
	width: 140px;
	padding: 5px 5px;
	margin-left: 30px;
	float: left;
}

base h4{
	font-family: sans-serif;
	font-weight: normal;
	text-align: center;
    margin-top: 0px;
    background:#B2B2B2;
    font-size: 34px;
	color: #749F82;
	border-radius: 2px;

}
.title{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-align: left;
	line-height: 0.5;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: black;

}
input[type=text] {
	width: 90px;
	margin: auto;
	outline: none;
    min-height: 5px;
	border: 2px;
	padding: 6px;
	background-color: white;
    color: black;
    font-size: 15px;
}
input[type=text]:focus{
	background-color: white;
	outline: none;
}

input[type=button]{
	width: 90px;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 600;
	margin-left: 40%;
    margin-top: 40px;
	margin-bottom: 20px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #91C788;
	color: black;
	padding: 14px 16px;
	text-align: center;
}
input[type=button]:hover{
	background-color: black;
	color:white;
}







