body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #91C788;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}
.container{
	width:590px;
	height: auto;
	margin: 100px auto;
	background-color: #DDFFBC;
	border-radius: 5px;
}
.base{
	width: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
}
.block{
	width: 135px;
	padding: 5px 50px;
	margin-left: 20px;
	display: inline-block;
	float: left;
}
.base h4{
	font-size: 26px;
	text-align: center;
	font-family: sans-serif;
	font-weight: 500;
    margin-top: 7px;
    background: #DDFFBC;
    font-size: 34px;
	color: black;
}
 
.title{
	font-size: 20px;
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 0.5;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: black;
}
input[type=text] {
	width: 140px;
	margin: auto;
	outline: none;
    min-height: 50px;
	border: 2px;
	padding: 12px;
	background-color: white;
    border-radius: 2px;
    color: black;
    font-size: 17px;
}
input[type=text]:focus{
	background-color: white;
	border: 2px solid black;
	outline: none;
}
input[type=button]{
	width: 100px;
	font-family: sans-serif;
	font-weight: 600;
	margin-left:41%;
    margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #91C788;
	color: black;
	padding: 14px 16px;
	text-align: center;
	font-size: 16px;
}
input[type=button]:hover{
	background-color: black;
	color:white;
}
 
#age{
	display: block;
	margin: 10px;
    margin-top: 17px;
	padding: 7px;
    padding-bottom: 18px;
	overflow:hidden;
	font-family: 'Times New Roman', Times, serif;
	font-size: 23px;
	font-weight: normal;
	line-height: 1.5;
	word-spacing: 2.7px;
	color: black;
}

























